In [2]:
import pandas as pd

## Data Structures in Pandas

### Series:

In [9]:
x = [3,4,5,6]
ser = pd.Series(x)
ser1 = pd.Series(x, index=['a','b','c','d'], dtype=float, name="Practice Series")
print(ser)
print(ser1)
print("Acess through default index:",ser1[2],"\nAccess through given index:", ser1['c'])

0    3
1    4
2    5
3    6
dtype: int64
a    3.0
b    4.0
c    5.0
d    6.0
Name: Practice Series, dtype: float64
Acess through default index: 5.0
Access through given index: 5.0

In [16]:
dict = {"name":["Python","CPP","Java","php"], "pos":[15,22,66,39],"rank":[1,3,2,4]}
ser2 = pd.Series(dict)
print(ser2)
ranks = ser2["rank"]
print(ranks, ranks[2])

name    [Python, CPP, Java, php]
pos             [15, 22, 66, 39]
rank                [1, 3, 2, 4]
dtype: object
[1, 3, 2, 4] 2

In [19]:
print(pd.Series([1,3,5,7,9], dtype=int) + pd.Series([2,4,6,8], dtype=int))

0     3.0
1     7.0
2    11.0
3    15.0
4     NaN
dtype: float64

### DataFrame

In [23]:
l = [1,2,3,4,5,6]
df = pd.DataFrame(l)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [36]:
d = {"a":[1,3,5,7,9,11],"b":[0,2,4,6,8,10]}
df2 = pd.DataFrame(d)
print(df2)
print(type(df2))
print(df2["a"])
print(df2["a"][2])

    a   b
0   1   0
1   3   2
2   5   4
3   7   6
4   9   8
5  11  10
<class 'pandas.core.frame.DataFrame'>
0     1
1     3
2     5
3     7
4     9
5    11
Name: a, dtype: int64
5

In [38]:
df3 = pd.DataFrame(d,columns=["b"], index=['q','w','e','r','t','y'])
df3

    b
q   0
w   2
e   4
r   6
t   8
y  10

In [39]:
l2 = [[0,1,2,3],[6,7,8,9]]
df4 = pd.DataFrame(l2)
df4

   0  1  2  3
0  0  1  2  3
1  6  7  8  9

In [40]:
d2={"s":pd.Series([1,3,5,7]),"r":[2,4,6,8]}
df5 = pd.DataFrame(d2)
df5

   s  r
0  1  2
1  3  4
2  5  6
3  7  8

In [41]:
print(df5["s"][2])

5